body {
    padding: 50px;
}

.map {
    width: 555px;
    height: 555px;
}

pre.prettyprint {
    padding: 9.5px;
}

.row {
    margin-left: -20px;
    *zoom: 1;
    margin-top: 50px;
}

pre.prettyprint {
    overflow-x: auto;
    max-width: 555px;
    white-space: pre;
    word-wrap: normal;
}

.jumbotron {
    background-color: #428bca;
    color: white;
    -webkit-box-shadow: 0 0 25px #B1D3F3;
    -ms-box-shadow: 0 0 25px #B1D3F3;
    box-shadow: 0 0 25px #B1D3F3;
    border: solid 1px #357ebd;
}
